<form novalidate [formGroup]='registrationForm' (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="Login">Login</label>
    <input id="Login" type="text" class="form-control" formControlName="login">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" class="form-control" formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
